body{
	font-size:12px;
}
header{
	height: 150px;
	line-height: 150px;
	background-color: #8BC34A;
	border-bottom: 1px solid #DCEDC8;
}
footer{
	height:20px;
	font-size: 10px;
	margin-top:20px;
	background-color: #8BC34A;
	line-height:20px;
	text-align: center;
}
nav{
	height:35px;
	font-size: 0px;
	background-color: #8BC34A;
	line-height:35px;
}
nav ul li{
	display: inline-block;
	width: 150px;
	border-left: 1px solid #DCEDC8;
	text-align: center;
	box-sizing: border-box;
	color: #fff;
	font-size:14px;
}
nav ul li:last-child{
	border-right: 1px solid #DCEDC8;
	font-size:14px;
}
nav ul li a{
	display: block;
	text-decoration: none;
	color: #fff;
}
nav ul li a:hover{
	background-color: #689F38;
}
.container{
	width: 650px;
	margin:0 auto;
	overflow: hidden;
}
h1 a{
	font-size: 24px;
}
h1 a{
	text-decoration: none;
	color:#fff;
}
h2{
	font-size: 18px;
	padding: 20px 0;
}
h3{
	font-size: 11px;
	text-align: center;
}

/******* スレタイ一覧ページ *******/
.sured-form{
	overflow: hidden;
	padding-left: 20px;
}
.sured-form dl{
	margin: 10px 0 0;
}
.sured-form input[type="text"]{
	width:600px;
}
.sured-form input[type="submit"]{
	float:right;
	margin-top:15px;
	margin-right:30px;
}
.sured{
	padding-left: 20px;
}
.sured p{
	margin-bottom: 20px;
	color: #ff0000;
}
.sured li{
	height:20px;
	line-height:20px;
	padding:0 0 10px 15px;
}
.sured li input{
	margin-right:15px;
}
.sured .btn-area{
	float:right;
	margin-right: 30px;
}

/******* スレッド内容一覧ページ *******/
.post-form{
	overflow: hidden;
	padding:0 0 20px 20px;
	border-bottom: 1px solid #3c3c3c;
}
.post-form dl{
	margin: 10px 0 0;
}
.post-form input[type="text"]{
	width:600px;
}
.post-form textarea{
	width:600px;
	height:100px;
}
.post-form input[type="submit"]{
	float:right;
	margin-top:15px;
	margin-right:30px;
}
.post-contents{
	overflow: hidden;
	margin:0 0 20px 20px;
}
.post-contents p{
	margin-bottom: 20px;
	color: #ff0000;
}
.post-contents .list{
	overflow: hidden;
	margin:10px 20px 10px;
	padding-bottom: 10px;
	border-bottom: 1px dotted #3c3c3c;
}
.post-contents .list dl dd:last-child{
	text-align: right;
}
.post-contents .list dd dl{
	overflow: hidden;
	margin:5px 0 0 0;
}
.post-contents .list dd dt{
	float: left;
}
.post-contents .list dd dd{
	float: left;
}
.post-contents #loadimg{
	text-align: center;
}
.reply-form form{
	overflow: hidden;
	display: block;
	margin: 0 0 7px 50px;
}
.reply-form p{
	margin: 5px 0 0;
	color: #ff0000;
}
.reply-form input[type="text"]{
	width:397px;
}
.reply-form textarea{
	width:400px;
	height:50px;
}
.reply-form input[type="submit"]{
	display: block;
	float: right;
	margin: 7px 95px 0 0;
}